<div class="flex flex-col">
    <!-- Image selector -->
    <product-gallery class="w-full swiper-product-gallery overflow-hidden">
      <!-- Tab panel, show/hide based on tab state. -->
      <div class="swiper-wrapper">
        {% for image in product.images %}
            <img src="{{ image | image_url: width: 1200 }}" alt="Angled front view with bag zipped and handles upright." class="swiper-slide w-full h-full object-center object-cover sm:rounded-lg">
        {% endfor %}
      </div>
      <div style="bottom: auto" class="swiper-pagination sm:hidden"></div>

      <!-- More images... -->
    </product-gallery>


    <thumbnail-slider class="hidden mt-6 w-full max-w-2xl mx-auto sm:block lg:max-w-none overflow-hidden h-24">
      <div class="swiper-wrapper" aria-orientation="horizontal" role="tablist">
        {% for image in product.images %}
           
            <div class="swiper-slide relative bg-white h-24 w-[25%] rounded-md flex items-center justify-center text-sm font-medium uppercase text-gray-900 cursor-pointer hover:bg-gray-50 focus:outline-none focus:ring focus:ring-offset-4 focus:ring-opacity-50">
                <img src="{{ image | image_url: width: 300 }}" alt="" class="w-full h-full object-center object-cover">
              <!-- Selected: "ring-indigo-500", Not Selected: "ring-transparent" -->
            </div>
        {% endfor %}


     

        <!-- More images... -->
      </div>
    </thumbnail-slider>

 
  </div>
