 <!-- Hero section -->
 <div class="relative bg-gray-900 m-auto ">
    <!-- Decorative image and overlay -->
    
  
    <iframe src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1" class="js-youtube w-full h-full" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
  
  </div>
  
  
  {% schema %}
  {
    "name": "Video Banner",
    "tag": "section",
    "settings": [
       {
        "type": "video_url",
        "id": "video_url",
        "accept": [
          "youtube",
          "vimeo"
        ],
        "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
        "label": "t:sections.video.settings.video_url.label",
        "placeholder": "t:sections.video.settings.video_url.placeholder",
        "info": "t:sections.video.settings.video_url.info"
      }
    ],
    "presets": [
      {
        "name": "Video Banner"
      }
    ]
  }
  {% endschema %}
  