

/** Shopify Overrides **/
.shopify-challenge__button {
  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
  background-color: initial;
  border-color: rgba(101, 28, 50, var(--tw-border-opacity));
  border-width: 1px;
  color: rgba(101, 28, 50, var(--tw-text-opacity));
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.15s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    background-color: rgba(252, 245, 245, var(--tw-bg-opacity));
    color: rgba(101, 28, 50, var(--tw-text-opacity));
  }
}

.shopify-policy__container {
  max-width: 1440px !important;
}

/* Header */
#shopify-section-layout-header {
  position: relative;
  background-color: #fff;

  &.shopify-section-header-sticky {
    position: sticky;
    top: 0;
    z-index: 49;
  }

  &.shopify-section-header-hidden {
    transform: translateY(-100%);
  }

  &.animate {
    transition: transform 0.15s ease-out;
  }
}


button, select, fieldset {
  border: 0;
}